@import 'styles/colors';
@import 'styles/mixins';

.advantages {
  margin-bottom: spacing(17);

  &__items {
    gap: spacing(5.25);
    margin-top: spacing(0.5);
  }

  @include laptop-xl {
    &__items {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      justify-items: center;
    }
  }

  @include tablet-sm {
    &__items {
      grid-template-columns: 1fr;
    }
  }
}
