@import 'styles/mixins';
@import 'styles/colors';
@import 'styles/variables';

.reviews {
  margin-bottom: spacing(21.25);

  &__footer {
    margin-top: spacing(5);
    @include flex-column;
  }

  &__name {
    margin-bottom: spacing(1.5);
  }

  &__swiper {
    filter: drop-shadow(0 0 spacing(1.25) rgba($black, 0.07));
  }

  &__date {
    margin-top: spacing(0.25);
  }

  @include tablet-sm {
    margin-bottom: spacing(17.5);
  }

  @include mobile {
    margin-bottom: spacing(14);

    &__info {
      align-items: flex-start !important;
      gap: spacing(1.5);
      @include flex-column;
    }
  }
}
