@import 'styles/colors';
@import 'styles/mixins';

.warning {
  color: $color-text-base;
  margin-top: spacing(0.625);
  font-size: 12px;

  label {
    color: $error;
    font-size: 12px;
    margin-right: spacing(0.625);
  }
}
