@import 'styles/mixins';
@import 'styles/colors';

@keyframes heartBeat {
  0%,
  28%,
  70% {
    transform: scale(1);
  }

  14%,
  42% {
    transform: scale(1.4);
  }
}

.card {
  $c: &;

  position: relative;
  border-radius: spacing(4);
  box-shadow: 0 spacing(0.5) spacing(2) rgba($black, 0.04),
    0 0 spacing(0.5) rgba($black, 0.08);
  width: 100%;
  overflow: hidden;
  align-self: stretch;
  background: $color-text-alt;
  @include flex-column;
  @include icon(spacing(4));

  &__content {
    padding: spacing(2.5) spacing(8) spacing(4) spacing(2.5);
  }

  &__favorite {
    transition: all 0.2s;
    @include pos($t: spacing(2.5), $r: spacing(2.5));

    &.active {
      animation: heartBeat 0.5s both ease-in-out;
      @include iconColor($error);
    }
  }

  &__urgently {
    color: $color-text-alt;
    border-bottom-right-radius: spacing(4);
    padding: spacing(2) spacing(2.75);
    background-color: $error-dark;
    @include pos($t: 0, $l: 0);
  }

  &__text {
    margin-bottom: spacing(3);
    display: -moz-box;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 3;
    -moz-box-orient: vertical;
    -webkit-box-orient: vertical;
    box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__date {
    white-space: nowrap;
  }

  &__image {
    max-width: 100%;

    &:not(.full-image) {
      max-height: spacing(31.25);
      object-fit: cover;
      width: 100%;
    }
  }

  &__container {
    position: relative;
  }

  &__link {
    @include pos($t: 0, $l: 0);
    @include square(100%);
  }
}
