@import 'styles/mixins';
@import 'styles/colors';
@import 'styles/variables';

.login {
  align-self: center;
  padding: spacing(4);
  width: fit-content;
  @include icon(spacing(3));

  .input {
    width: spacing(60.75);
  }

  &-wrapper {
    min-height: 100vh;
    @include flex-center;
  }

  &__email,
  &__text {
    margin-bottom: spacing(4);
  }

  &__text {
    color: $primary;
    cursor: pointer;
  }

  &__password {
    margin-bottom: spacing(2);
  }

  &__header {
    margin-bottom: spacing(5);
  }

  .button.base {
    min-height: 77px;
  }
}
