@import 'styles/inputs';
@import 'styles/mixins';

.select {
  $p: &;
  position: relative;
  flex: 1 1 auto;
  border: none !important;

  &.single {
    #{$p} {
      &__value-container {
        display: flex;
      }
    }
  }

  &.multi {
    .select__placeholder {
      color: rgba($color-text-base, 0.4);
    }
  }

  &__value-container {
    flex: 1 1 auto !important;
    padding-left: spacing(2) !important;
  }

  &-indicator.active {
    @include iconColor($primary !important, false, true);
  }

  &__input {
    &-container {
      margin: 0 !important;
      padding: 0 !important;
    }
  }

  &__textarea {
    &-container {
      display: flex;
      align-items: center;
      margin: spacing(0.25) 0;
      padding: spacing(0.25) 0;
      width: spacing(0.125);

      &--has-value {
        width: 100%;
      }
    }

    &-input {
      background: none;
      border-width: 0;
      font-size: inherit;
      outline: 0;
      padding: 0;
      color: inherit;
      resize: none;
      @include size(100%, spacing(1.75));
    }
  }

  &__placeholder {
    width: 0;
    white-space: nowrap;
  }

  &__indicators-container {
    display: flex;
    align-items: center;
    margin: auto 0 auto spacing(0.625);
  }

  &__control {
    font-size: 20px;
    min-height: spacing(8) !important;
    flex-wrap: nowrap !important;
    background-color: $color-text-alt !important;
    border: 1px solid $gray !important;
    border-radius: spacing(2.5) !important;
    color: $color-text-base !important;
    box-shadow: none !important;
    box-shadow: 0 spacing(0.5) spacing(2) rgba($black, 0.04),
      0 0 spacing(0.5) rgba($black, 0.08) !important;
    padding: spacing(1.375) spacing(1.625) spacing(1.375) 0;

    &:not(#{$p}__control--is-disabled) {
      cursor: pointer !important;
    }

    &:hover {
      border-color: $alt-dark !important;
      color: $color-text-base;
    }

    &--is-focused {
      &,
      &:hover {
        background: none !important;
        border-color: $primary !important;
      }

      #{$p}-indicator {
        @include iconColor($primary !important, false, true);
      }
    }

    &--is-disabled {
      &,
      &:hover {
        background: $gray !important;
        border: none !important;

        #{$p} {
          &__single-value {
            color: $color-text-base;
          }
        }
      }
    }

    &--menu-is-open {
      border-bottom-left-radius: 0 !important;
      border-bottom-right-radius: 0 !important;
    }
  }

  &__input {
    color: $color-text-base !important;
  }

  &.active {
    .select {
      &__control {
        border-color: $primary !important;
      }

      &__single-value {
        color: $color-text-base !important;
      }
    }
  }

  &__error {
    color: $error !important;
    font-weight: normal;
    text-transform: none;
    font-size: 12px !important;
    display: flex;
    align-items: center;
    margin-top: spacing(0.625) !important;
    @include pos; // Чтобы меню отображалось корректно
  }

  &.isInvalid {
    .select__control {
      border-color: $error;
    }
  }

  .select-indicator {
    font-size: 15px;
    width: spacing(3);
    min-width: spacing(3);
    margin-right: spacing(0.375);
    text-align: center;
  }

  &.disabled {
    .select__indicators {
      display: none;
    }
  }

  &__loading-indicator,
  &__indicator-separator {
    display: none !important;
  }

  &__menu {
    z-index: 10 !important;
    margin-top: spacing(-0.125) !important;
    border: 1px solid $gray !important;
    border-radius: 0 0 spacing(2.5) spacing(2.5) !important;
    box-shadow: none !important;
    background-color: $color-text-alt !important;
    overflow: hidden !important;
    position: relative !important;

    &-list {
      overflow-x: hidden !important;
    }

    &-notice {
      color: $color-text-base;
      text-align: center;
      padding: spacing(2.5) spacing(1.25) !important;
      font-size: 16px;
    }
  }

  &__option {
    padding: spacing(1.5);
    margin: 0 spacing(1.25);

    & + & {
      border-top: 1px solid $gray;
    }

    &__row {
      margin: spacing() 0;

      &,
      &-content {
        flex: 1 1 auto;
        overflow: hidden;
        cursor: pointer;
      }
    }

    &-text {
      font-size: 16px;
    }

    .svg-icon {
      @include icon(spacing(3), $color-text-base);
    }
  }
}
