@import "styles/mixins";
@import "styles/colors";

.select-indicator {
  padding: spacing(0.5);
  transition: transform 0.2s;
  @include icon(spacing(3), $color-text-base);

  &:hover {
    @include iconColor();
  }

  &--active {
    transform: rotate(180deg);
  }

  &--clickable {
    cursor: pointer;
  }
}
