@import 'styles/mixins';
@import 'styles/colors';

.menu {
  user-select: none;

  &__btn {
    display: none;
    padding: 0;
    cursor: pointer;
    margin-top: spacing(1.25);
    @include size(spacing(5), spacing(3.75));
    @include pos($pos: relative, $z: 20);

    span {
      display: block;
      height: spacing(0.25);
      background-color: $color-text-base;
      position: relative;

      &::before,
      &::after {
        content: '';
        transition: all 0.3s ease;
        background-color: $color-text-base;
        @include size(spacing(5), spacing(0.25));
        @include pos($l: 00);
      }

      &::before {
        top: spacing(1.25);
      }

      &::after {
        top: spacing(2.5);
      }
    }

    &.active {
      span {
        background-color: transparent !important;

        &::before {
          transform: rotate(45deg);
          top: spacing(1.25);
        }

        &::after {
          transform: rotate(-45deg);
          top: spacing(1.25);
        }
      }
    }
  }

  &__list {
    list-style: none;
  }

  &__item {
    cursor: pointer;
    @include spaced-items(5);
  }

  &__link {
    position: relative;

    &::after {
      content: '';
      background-color: $color-text-base;
      transition: all 300ms ease;
      @include size(0, spacing(0.25));
      @include pos($b: spacing(-1), $l: 0);
    }

    &:not(.active) {
      &:hover,
      &:focus {
        &::after {
          width: 100%;
        }
      }
    }

    &:active {
      color: $primary;

      &::after {
        background-color: $primary;
      }
    }

    &.active {
      color: $primary;
    }
  }

  .svg-icon + .menu__text {
    margin-left: spacing(1.5);
  }

  @include tablet-xl {
    display: flex;

    &__list {
      display: none;
    }

    &__btn {
      display: block;
    }

    &.active {
      transform: translateY(0);

      .menu__btn span {
        &::before,
        &::after {
          background: $primary !important;
        }
      }
    }
  }
}
