@import 'styles/colors';
@import 'styles/mixins';

$inputBaseFontSize: 20px;

.input {
  display: flex;
  flex: 1 1 auto;
  font-family: inherit;
  min-width: 0;
  height: 100%;
  color: $color-text-base;
  border: none;
  background: none;

  &::-ms-reveal,
  &::-ms-clear,
  &[type='password']::-ms-reveal,
  &[type='password']::-ms-clear {
    display: none !important;
  }

  &_hidden {
    border: 0;
    padding: 0 !important;
    @include pos($l: 0, $b: spacing(-1.25));
    @include square(0);
  }

  &__counter-control {
    .svg-icon:first-child {
      transform: rotate(180deg);
    }
  }

  &__icons {
    display: flex;
    align-items: center;
    margin-left: spacing(0.75);

    @include icon(spacing(3) !important);
    @include iconColor($alt-dark, false, true);

    &__icon {
      &:not(:first-child) {
        margin-left: spacing(2);
      }
    }
  }

  &.active {
    color: $color-text-base;
  }

  &:disabled {
    color: $color-text-base !important;
  }

  @include placeholder {
    font-weight: 400;
    color: rgba($color-text-base, 0.4);
  }

  &:focus {
    @include placeholder {
      color: transparent;
    }
  }

  &-wrapper {
    width: 100%;

    .title-row__alert {
      margin-top: spacing(0.625) !important;
      display: block;
    }

    &.is-open {
      .input-container {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
      }
    }

    &.active {
      @include iconColor($primary !important, false, true);
      @include iconColor(transparent !important, false, false);

      .input-container {
        border-color: $primary !important;
      }

      .eye-closed > svg > path:nth-child(1) {
        stroke: transparent !important;
        fill: $primary !important;
      }

      .eye-closed > svg > path:nth-child(2) {
        fill: $primary !important;
      }
    }

    &.disabled {
      .input-container {
        background-color: $gray !important;
        cursor: default;
      }
    }

    &.alert,
    &.active.alert {
      .input-container {
        border-color: $error !important;
      }
    }

    &.focused {
      .input-container {
        background: transparent;
      }

      &.active .eye-closed svg {
        & > path:nth-child(2) {
          stroke: $primary !important;
        }

        & * {
          fill: $primary !important;
          stroke: transparent !important;
        }
      }
    }

    &.visible-placeholder {
      .input:focus {
        @include placeholder {
          color: $color-text-base;
        }
      }

      &.focused .input-container {
        background: transparent;
      }
    }

    &:not(.disabled) {
      .input-container:hover {
        border-color: $alt-dark;
      }
    }
  }

  &-error {
    color: $error !important;
    font-weight: normal;
    text-transform: none;
    font-size: 12px !important;
    display: flex;
    align-items: center;
  }

  &-container {
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
    color: $color-text-alt;
    border: 1px solid $gray;
    border-radius: spacing(2.5);
    box-shadow: 0 spacing(0.5) spacing(2) rgba($black, 0.04),
      0 0 spacing(0.5) rgba($black, 0.08);
    background-color: $color-text-alt;
    transition: all 300ms ease;
    overflow: hidden;

    i {
      transform: translate(0, -50%);
      @include pos($t: 50%);
    }

    &_size {
      &_base {
        height: spacing(8);
        padding-right: spacing(2);

        input {
          font-size: $inputBaseFontSize;
          padding: spacing(2.25) 0 spacing(2.25) spacing(2);
        }

        i {
          text-align: center;
          width: spacing(3);
          font-size: 16px;
          right: spacing(0.5);
        }
      }
    }
  }
}
