@import 'styles/mixins';
@import 'styles/colors';

.achievements {
  padding: spacing(2.5);
  gap: spacing(3);
  width: fit-content;
  @include flex-column;

  &__content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: spacing(2.25);
  }

  &__item {
    gap: spacing();

    &-image,
    &-fake {
      @include square(spacing(8), true, true);
    }

    &-fake {
      background: $alt;
    }

    &-texts {
      @include flex-column;

      &.fake {
        .text {
          color: rgba($color-text-base, 0.4);
        }
      }
    }
  }
}
