@import 'styles/colors';
@import 'styles/mixins';

.badge {
  padding: spacing(1.25) spacing(3.75);
  border-radius: spacing(2);
  white-space: nowrap;
  color: $color-text-base;
  gap: spacing(2);

  &:not(.small) {
    width: 100%;
  }

  &.small {
    padding: spacing(0.75) spacing();
    border-radius: spacing(4.5);
  }

  &.white {
    color: $color-text-alt;
  }
}
