@import 'styles/colors';
@import 'styles/mixins';

.svg-icon {
  @include flex-center;

  svg {
    @include square(100%);
  }
}

.circle-icon {
  $color: $alt;
  border: 1px solid $color;
  transition: all 0.3s ease;
  @include square(spacing(7), true, true);
  @include icon(spacing(2.5));
  @include iconColor($primary, false, true);
  @include flex-center;

  &.small {
    @include square(spacing(5.75), true, true);
  }

  &--clickable {
    &:hover {
      background-color: $color;
      transform: scale(1.15);
    }
  }
}

.svg-icon,
.circle-icon {
  &--clickable {
    cursor: pointer;
  }
}
