@import 'styles/colors';
@import 'styles/mixins';

.rating {
  .svg-icon {
    @include spaced-items(0.5);
  }

  &.small {
    .svg-icon {
      @include iconSize(spacing(1.5));
      @include spaced-items(0.25);
    }
  }
}
