@import 'styles/mixins';
@import 'styles/colors';

.titled-grid {
  &__watch {
    cursor: pointer;
    display: flex;
    gap: spacing(2);
    margin-bottom: spacing(5);

    .svg-icon {
      transition: all 300ms ease;
      margin-top: spacing(0.5);
    }

    &:hover {
      .svg-icon {
        transform: translateX(spacing());
      }
    }
  }

  &__grid {
    display: grid;
    grid-gap: spacing(2.5);

    &.grid-type {
      &-1 {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(8, 1fr);

        .card {
          &:nth-child(1) {
            grid-area: 1 / 1 / 5 / 3;
          }

          &:nth-child(2) {
            grid-area: 1 / 3 / 5 / 5;
          }

          &:nth-child(3) {
            grid-area: 5 / 3 / 9 / 5;
          }

          &:nth-child(4) {
            grid-area: 5 / 1 / 7 / 3;
          }

          &:nth-child(5) {
            grid-area: 7 / 1 / 9 / 3;
          }
        }
      }

      &-2 {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 1fr);

        .card {
          &:nth-child(1) {
            grid-area: 1 / 1 / 3 / 3;
          }

          &:nth-child(2) {
            grid-area: 1 / 3 / 3 / 4;
          }

          &:nth-child(3) {
            grid-area: 3 / 3 / 5 / 4;
          }

          &:nth-child(4) {
            grid-area: 3 / 2 / 5 / 3;
          }

          &:nth-child(5) {
            grid-area: 3 / 1 / 5 / 2;
          }
        }
      }
    }
  }
}
