@import 'styles/mixins';
@import 'styles/colors';

.head {
  position: relative;
  min-height: calc(80vh - 101px);

  &__content {
    text-align: center;
    color: $color-text-base;
    width: 100%;
    max-width: spacing(92.5);
    @include absolute-center;
  }

  &__button {
    width: 100%;
    @include spaced-items(2.5);
  }

  .printed-text {
    margin-bottom: spacing(14.5);
    min-height: spacing(12.5);
  }
}
