@import 'styles/mixins';
@import 'styles/colors';

.search {
  &__content {
    margin-bottom: spacing(11.25);
    gap: spacing(2.5);
    position: relative;
  }

  &__cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: spacing(2.5);
  }
  
  &__users {
    gap: spacing(2.5);
    width: 100%;
    @include flex-column;
  }

  &__container {
    width: 100%;
    max-width: spacing(104.25);
  }

  &__watch {
    gap: spacing();
    margin-bottom: spacing(2.5);
    cursor: pointer;
    color: $primary;
    @include icon(spacing(3));
    @include iconColor($primary, false, true);
  }

  &__slider {
    .swiper-wrapper {
      margin-bottom: 0;
    }
  }
}
