@import 'styles/mixins';
@import 'styles/colors';

.hint-icon {
  $p: &;

  font-style: normal;
  text-align: center;
  line-height: spacing(2.25);
  font-size: 12px;
  margin-left: spacing();
  cursor: pointer;
  color: $color-text-alt;
  background: $primary;
  @include square(spacing(2.25), true, true);

  &:not(#{$p}--disabled):hover {
    background: $primary-light;
  }

  &--inline {
    display: inline-block;
  }

  &--clickable {
    cursor: pointer;
  }

  @include laptop-xl {
    line-height: spacing(1.75);
    font-size: 10px;
    @include square(spacing(1.75), true, true);
  }
}
