// Оттенки серого
$gray: #EFEFEF;

// Оттенки черного
$black: #000000;
$black-light: #444444;

// Цвета действий
$error: #EB0000;
$error-dark: #BD0000;

// Основной цвет
$primary: #2D39E1;
$primary-dark: #262FB5;
$primary-light: #535EFF;

// Дополнительный цвет
$alt: #EEEFFC;
$alt-dark: #969CF0;
$alt-light: #F7F7FE;
$alt-bg: #FDFDFF;

// Тексты
$color-text-base: $black;
$color-text-alt: #FFFFFF;
