@import 'styles/mixins';
@import 'styles/colors';
@import 'styles/variables';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  &:focus {
    outline: none !important;
  }

  &::-webkit-scrollbar {
    $size: spacing(0.5);
    width: $size;
    background: $color-text-alt;

    &:horizontal {
      width: auto;
      height: $size;
    }

    // Vertical Scroll
    &-thumb {
      background-clip: padding-box;
      width: $size;
      background-color: $primary;
      border-radius: spacing(2);

      // Horizontal Scroll
      &:horizontal {
        background-clip: padding-box;
        height: $size;
        background-color: $primary;
      }
    }
  }
}

.container {
  max-width: $container-width;
  padding: 0 spacing(2.5);
  margin: 0 auto;
}

a {
  text-decoration: none;
  display: inline-block;
	color: inherit;
}
