/*
 * NotoSans
 */

@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('NotoSans Regular'), local('NotoSans-Regular'), url('../fonts/NotoSans/NotoSans-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Noto Sans';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: local('NotoSans Italic'), local('NotoSans-Italic'), url('../fonts/NotoSans/NotoSans-Italic.ttf') format('truetype');
}

@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local('NotoSans Medium'), local('NotoSans-Medium'), url('../fonts/NotoSans/NotoSans-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Noto Sans';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: local('NotoSans MediumItalic'), local('NotoSans-MediumItalic'), url('../fonts/NotoSans/NotoSans-MediumItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local('NotoSans SemiBold'), local('NotoSans-SemiBold'), url('../fonts/NotoSans/NotoSans-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Noto Sans';
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: local('NotoSans SemiBoldItalic'), local('NotoSans-SemiBoldItalic'), url('../fonts/NotoSans/NotoSans-SemiBoldItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('NotoSans Bold'), local('NotoSans-Bold'), url('../fonts/NotoSans/NotoSans-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Noto Sans';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: local('NotoSans BoldItalic'), local('NotoSans-BoldItalic'), url('../fonts/NotoSans/NotoSans-BoldItalic.ttf') format('truetype');
}
