@import 'styles/mixins';
@import 'styles/colors';
@import 'styles/fonts';
@import 'styles/variables';
@import 'styles/texts';
@import 'styles/default';

html {
  font-size: 20px;
  color: $color-text-base;
  height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  overflow: hidden;

  &.scroll {
    overflow-y: visible;
  }
}

body {
  position: relative;
  overflow-x: hidden;
  font-family: 'Noto Sans', sans-serif;
  padding-right: 0 !important; // MUI popover
  height: 100%;
  background-color: $alt-bg;
}

input,
select,
textarea,
button {
  font-family: inherit;
}

.MuiSnackbar-root {
  max-width: 90vw;
}

.MuiSnackbarContent {
  &-root {
    flex-wrap: nowrap;
    flex-grow: 0;
    padding: spacing(0.75) spacing(1.75) !important;

    &:not(.snackbar--success):not(.snackbar--error):not(.snackbar--warning):not(.snackbar--info) {
      background-color: $color-text-alt;
    }
  }

  &-action {
    margin-right: 0;
  }

  &-message {
    display: flex;
    flex: 1 1 auto;
    @include text-wrapping;

    .MuiSvgIcon-root {
      margin-right: spacing() !important;
    }

    .push__content {
      max-height: spacing(37.5);
      overflow-y: auto;

      &::-webkit-scrollbar-thumb {
        background-color: $color-text-alt;
      }

      &::-webkit-scrollbar {
        border-left: none;

        &:horizontal {
          border-top: none;
        }
      }
    }
  }
}

.truncate {
  @include text-truncate;
}

.select__menu-portal {
  z-index: 2500 !important; // больше, чем у диалогов
}

.MuiTooltip-popper {
  z-index: 3000 !important;
}

.visually-hidden {
  @include visually-hidden;
}
