/* Base */
@import 'colors';
@import 'mq';

@mixin flex-center($isInline: false) {
  @if ($isInline) {
    display: inline-flex;
  } @else {
    display: flex;
  }
  align-items: center;
  justify-content: center;
}

@mixin flex-column($isReverse: false) {
  display: flex;
  @if ($isReverse) {
    flex-direction: column-reverse;
  } @else {
    flex-direction: column;
  }
}

@mixin absoluteFill($bg-color: false, $z: false) {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  @if ($bg-color) {
    background-color: $bg-color;
  }
  @if ($z) {
    z-index: $z;
  }
}

/* Icons */

@mixin iconColor($base: false, $hover: false, $stroke: false) {
  @if ($base) {
    svg * {
      @if ($stroke) {
        stroke: $base;
      } @else {
        fill: $base;
      }
    }
  }

  @if ($hover) {
    &:hover {
      svg * {
        @if ($stroke) {
          stroke: $hover;
        } @else {
          fill: $hover;
        }
      }
    }
  }
}

@mixin iconSize($size) {
  width: $size;
  min-width: $size;
  height: $size;
}

@mixin icon($size: false, $color: false, $color-hover: false) {
  .svg-icon {
    @if ($size) {
      @include iconSize($size);
    }
    @include iconColor($color, $color-hover);
  }
}

@mixin placeholder {
  &::-webkit-input-placeholder {
    @content;
  }
  &:-moz-placeholder {
    @content;
  }
  &::-moz-placeholder {
    @content;
  }
  &:-ms-input-placeholder {
    @content;
  }
}

@mixin text-wrapping {
  white-space: pre-line;
  word-break: break-word;
  word-wrap: break-word;
}

@mixin text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin centered($isVertical: false) {
  @if ($isVertical) {
    margin-top: auto;
    margin-bottom: auto;
  } @else {
    margin-left: auto;
    margin-right: auto;
  }
}

@mixin size($width, $height, $fix-min: false) {
  height: $height;
  width: $width;
  @if ($fix-min) {
    min-width: $width;
  }
}

@mixin square($size, $is-round: false, $fix-min: false) {
  @include size($size, $size, $fix-min);
  @if ($is-round) {
    border-radius: $size / 2;
  }
}

@mixin pos($pos: absolute, $t: false, $r: false, $b: false, $l: false, $z: false) {
  @if $pos {
    position: $pos;
  }
  @if $t {
    top: $t;
  }
  @if $r {
    right: $r;
  }
  @if $b {
    bottom: $b;
  }
  @if $l {
    left: $l;
  }
  @if $z {
    z-index: $z;
  }
}

@mixin pos-fill($pos: absolute, $z: false) {
  @include pos($pos, 0, 0, 0, 0, $z);
}

@mixin absolute-center($horizontal: true, $vertical: true) {
  position: absolute;
  @if ($horizontal and $vertical) {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  } @else if ($horizontal) {
    left: 50%;
    transform: translate(-50%, 0);
  } @else if ($vertical) {
    top: 50%;
    transform: translate(0, -50%);
  }
}

@mixin pseudo($display: block, $pos: absolute, $content: '') {
  content: $content;
  display: $display;
  position: $pos;
}

@mixin absolute-border($child: false) {
  position: relative;

  &:after {
    @include pos($l: 0, $r: 0, $b: 0, $z: 0);
    @include pseudo();
    height: 1px;
    border-bottom: 1px solid $primary;
  }

  @if ($child) {
    #{$child} {
      @include pos(relative, $z: 1);
    }
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@mixin use-fade-in($duration: 700ms) {
  animation: fade-in $duration;
}

/*
 * Spacing
 */

@function spacing($size: 1) {
  @return $size * 8px;
}

@mixin spaced-items($value, $is-vertical: false, $not-spacing: false) {
  $prop: margin-right;

  @if ($is-vertical) {
    $prop: margin-bottom;
  }

  &:not(:last-child) {
    @if ($not-spacing) {
      #{$prop}: $value;
    } @else {
      #{$prop}: spacing($value);
    }
  }
}

@mixin hide() {
  opacity: 0;
  visibility: hidden;
  backface-visibility: hidden;
}

@mixin show() {
  opacity: 1;
  visibility: visible;
  @include use-fade-in(150ms);
}

@mixin visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  overflow: hidden;
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px);
}

@mixin fillBetweenMargins($color: false, $z-index: -5, $l: -5px, $r: -5px) {
  .Calendar__day__inner:before {
    content: '';
    position: absolute;
    left: $l;
    right: $r;
    top: 0;
    bottom: 0;
    background-color: $color;
    z-index: $z-index;
  }
}

@mixin removeFilling() {
  &:last-child {
    .Calendar__day__inner:before {
      right: spacing(1.25) !important;
    }
  }

  &:first-child {
    .Calendar__day__inner:before {
      left: spacing(1.25) !important;
    }
  }
}

@mixin picker-container {
  &__container {
    display: flex;
    height: spacing(25);
    overflow: hidden;
  }
}
