$breakpoints: (
  'mobile-sm': 400px,
  'mobile': 500px,
  'mobile-xl': 640px,
  'tablet-sm': 768px,
  'tablet': 960px,
  'tablet-xl': 1120px,
  'laptop': 1345px,
  'laptop-xl': 1550px,
);

@import '~include-media/dist/include-media';

@mixin mobile-sm {
  @include media('<=mobile-sm') {
    @content;
  }
}

@mixin mobile {
  @include media('<=mobile') {
    @content;
  }
}

@mixin mobile-xl {
  @include media('<=mobile-xl') {
    @content;
  }
}

@mixin tablet-sm {
  @include media('<=tablet-sm') {
    @content;
  }
}

@mixin tablet {
  @include media('<=tablet') {
    @content;
  }
}

@mixin tablet-xl {
  @include media('<=tablet-xl') {
    @content;
  }
}

@mixin laptop {
  @include media('<=laptop') {
    @content;
  }
}

@mixin laptop-xl {
  @include media('<=laptop-xl') {
    @content;
  }
}
