@import 'styles/mixins';
@import 'styles/utils';

//
// Configs
//

$basic: (
  'xxl': (
    'size': 40,
    'line': 1.35,
  ),
  'xl': (
    'size': 32,
    'line': 1.375,
  ),
  'lg': (
    'size': 24,
    'line': 1.35,
  ),
  'md': (
    'size': 20,
    'line': 1.35,
  ),
  'sm': (
    'size': 16,
    'line': 1.375,
  ),
  'xs': (
    'size': 12,
    'line': 1.35,
  ),
);

//
// Utilities
//

@mixin text-size($map, $key) {
  $size: map-deep-get($map, $key, 'size');
  font-size: to-rem($size);

  $mqs: map-deep-get($map, $key, 'mqs');
  @if ($mqs) {
    @each $mq, $value in $mqs {
      @include media('<#{$mq}') {
        font-size: to-rem($value);
      }
    }
  }
}

@mixin text-settings($map, $key, $mqs: false) {
  @include text-size($map, $key);
  line-height: map-deep-get($map, $key, 'line');
  $spacing: map-deep-get($map, $key, 'spacing');
  @if ($spacing) {
    letter-spacing: $spacing;
  }
  transition: color 300ms;
}

//
// Generating text classes
//

@each $key, $value in $basic {
  .text-#{$key} {
    @include text-settings($basic, $key);
  }
}
