@import 'styles/mixins';
@import 'styles/colors';
@import 'styles/variables';

.registration {
  align-self: center;
  padding: spacing(4);
  width: fit-content;
  @include icon(spacing(3));

  .input {
    width: spacing(60.75);

    &-wrapper {
      margin-bottom: spacing(3);
    }
  }

  &__selector {
    background: $alt-light;
    padding: spacing();
    margin-bottom: spacing(3);
    gap: spacing(2);
    border-radius: spacing(3.5);

    &-text {
      width: calc(50% - 8px);
      text-align: center;
      padding: spacing(2.5) 0;
      border-radius: spacing(3.5);
      white-space: nowrap;
      cursor: pointer;
      transition: all 300ms ease;

      &.active {
        box-shadow: 0 spacing(0.5) spacing(2) rgba($black, 0.04),
          0 0 spacing(0.5) rgba($black, 0.08);
        background: $color-text-alt;
        cursor: default;
        pointer-events: none;
      }
    }
  }

  &-wrapper {
    min-height: 100vh;
    @include flex-center;
  }

  &__header {
    margin-bottom: spacing(5);
  }

  .button.base {
    min-height: 77px;
  }
}
