@import 'styles/mixins';
@import 'styles/colors';

@mixin flex-card {
  gap: spacing(2.5);
  @include flex-column;
}

.search {
  padding: spacing(4.5);
  margin: spacing(2.5) 0;
  gap: spacing(4);
  @include flex-column;

  &-section {
    @include flex-card;

    .container {
      width: 100%;
    }
  }

  &-wrapper {
    max-width: spacing(111);
    margin: 0 auto;
    width: 100%;
    @include flex-card;

    & > .row {
      gap: spacing(2.5);

      .input {
        flex: 1 1 auto;
      }

      .button,
      .checkbox {
        width: 100%;
        max-width: spacing(30.75);
      }
    }
  }
}
