@import 'styles/mixins';
@import 'styles/colors';

.about {
  padding: spacing(2.5);
  gap: spacing(4);
  width: fit-content;
  @include flex-column;

  &__info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: spacing();

    &-item {
      padding: spacing(1.25) spacing(2.5);
      background: $alt-light;
      border-radius: spacing(2);
      @include flex-center;
      @include flex-column;

      .text {
        white-space: nowrap;
      }
    }
  }
}
