@import 'styles/colors';
@import 'styles/mixins';

.avatar-block {
  gap: spacing(2);

  &__image {
    @include square(spacing(8.75), true, true);
  }

  &__reviews {
    margin-left: spacing();
  }

  &__name {
    display: -moz-box;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    -moz-box-orient: vertical;
    -webkit-box-orient: vertical;
    box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
