@import 'styles/colors';
@import 'styles/mixins';

@mixin checkboxSize($size) {
  .checkbox__box {
    min-height: $size;
    @include square($size, false, true);
  }

  .checkbox__icon {
    @include iconSize($size - spacing(0.5));
  }
}

.checkbox {
  display: flex;
  align-items: center;
  cursor: pointer;
  max-width: fit-content;

  &.small {
    @include checkboxSize(spacing(2));
  }

  &.large {
    @include checkboxSize(spacing(3));
  }

  &.multi {
    margin: spacing(0.5);
  }

  &__container {
    margin: spacing(-0.5);
    flex-wrap: wrap;

    &:not(.row) {
      @include flex-column;
      gap: spacing(2);
    }
  }

  &__box {
    border: 1px solid rgba($black-light, 0.4);
    border-radius: spacing(0.375);
    background: $color-text-alt;
    transition: all 300ms ease;
    @include flex-center;
  }

  &__icon {
    pointer-events: none; // Иначе срабатывают event'ы с target = svg
    @include iconColor($primary);
  }

  &__label {
    color: $color-text-base;
    margin-left: spacing(1.25);
    margin-top: spacing(-0.5);
    line-height: 1;
    white-space: nowrap;
  }

  &.enabled:hover {
    .checkbox {
      &__box {
        border-color: $primary-light;
        @include iconColor($primary-light, false, true);
      }
    }
  }

  &--alt {
    .checkbox__label {
      color: $color-text-base;
    }

    &.enabled:hover {
      .checkbox__label {
        color: $primary !important;
      }
    }
  }

  &.checked {
    .checkbox {
      &__box {
        border-color: $primary;
      }

      &__icon {
        @include iconColor($primary, false, true);
        @include iconColor(transparent !important, false, false);
      }
    }
  }

  &.partially {
    .checkbox {
      &__box {
        background: $color-text-alt;
      }

      &__icon {
        @include iconColor($primary);
      }
    }
  }

  &.disabled {
    cursor: default;

    .checkbox {
      &__box {
        background: $gray !important;
        border-color: $gray !important;
      }
    }
  }
}

@include laptop-xl {
  .checkbox {
    &.small {
      @include checkboxSize(spacing(1.5));
    }

    &.large {
      @include checkboxSize(spacing(2.5));
    }

    &__label {
      font-size: 12px;
    }
  }
}
