@import 'styles/mixins';
@import 'styles/colors';

.tabs {
  gap: spacing(2.5);

  &__side {
    padding: spacing(2) 0;
    width: spacing(30);
    height: fit-content;
    @include pos($pos: sticky, $t: spacing(2.5));
  }

  &__title {
    margin-bottom: spacing(2.5);
  }

  &__inner {
    width: 100%;
  }

  &__items {
    gap: spacing(2.5);
    @include flex-column;
  }

  &__item {
    padding: spacing(1.25) spacing(2.5);
    gap: spacing(1.25);
    cursor: pointer;
    @include flex-center;
    @include icon(spacing(2.5));
    @include iconColor($color-text-base, false, true);

    &-text {
      white-space: nowrap;
    }

    &.active {
      color: $color-text-alt;
      background: $primary;
      cursor: default;
      pointer-events: none;
      @include iconColor($color-text-alt, false, true);
    }
  }
}
