@import 'styles/mixins';
@import 'styles/colors';

.user {
  $u: &;

  padding: spacing(2.5);
  border: 1px solid transparent;
  cursor: pointer;

  &__buttons {
    gap: spacing();
  }

  &--active {
    border-color: $primary;
  }

  &--compact {
    width: fit-content;
    max-width: spacing(29.75);
    align-self: stretch;

    #{$u} {
      &__buttons {
        margin-top: spacing(2);
        @include flex-column;

        &,
        .button {
          width: 100%;
        }
      }

      &__content {
        overflow: hidden;
        @include flex-column;
      }
    }
  }
}
