@import 'styles/mixins';
@import 'styles/colors';

.cabinet {
  &__row {
    gap: spacing(2.5);

    & + .cabinet__row {
      margin-top: spacing(2.5);
    }
  }

  &__organisation {
    padding: spacing(2.5);
    gap: spacing(4);
    width: 100%;
    @include flex-column;

    &-buttons {
      gap: spacing();
    }
  }

  .search__cards {
    max-width: spacing(117.25);
    width: 100%;
  }
}
