@import 'styles/colors';
@import 'styles/mixins';

$card-border-radius: spacing(1.25);
$border-radius: spacing(0.5);
$background: $color-text-alt;
$box-shadow: spacing(1.25);

.date {
  &__paper {
    box-shadow: none !important;
    background-color: transparent !important;
    overflow: hidden;
    margin-top: $box-shadow * -1;
    margin-left: $box-shadow * -1; // Выравнивание из-за сдвига

    &--to-left {
      margin-left: $box-shadow;
    }
  }

  &__tip {
    text-align: center;
    font-size: 13px;
    color: $color-text-alt;
    padding: spacing(0.75);
    background: $primary;
    @include pos($b: spacing(12.375), $l: $box-shadow, $r: $box-shadow, $z: 11);

    &--without-min {
      bottom: spacing(8.125);
    }
  }

  &__container {
    margin: $box-shadow; // Сдвиг для отображения тени
  }

  &--with-min {
    min-height: 39em;

    &.date--with-tip {
      min-height: 41.5em !important;
    }
  }

  &--without-min {
    min-height: 36em;

    &.date--with-tip,
    &.date--all-dates {
      min-height: 39em !important;
    }
  }

  &.Calendar {
    border-radius: $card-border-radius;
    width: spacing(34.625);
    box-shadow: 0 0 $box-shadow 0 rgba($black, 0.1);
    background: $background;

    .Calendar {
      &__monthYear > * {
        border: 1px solid transparent;

        &.-activeBackground {
          border-color: $primary;
        }
      }

      &__monthSelectorAnimationWrapper,
      &__yearSelectorAnimationWrapper {
        height: 79%;
      }

      &__monthSelector,
      &__yearSelector {
        background-color: $color-text-alt;

        button {
          color: $color-text-base;
        }
      }

      &__yearSelectorWrapper {
        &::before {
          background-image: linear-gradient(
            to top,
            $color-text-alt,
            $color-text-alt 10%,
            rgba(245, 245, 245, 0)
          );
        }

        &::after {
          background-image: linear-gradient(
            to bottom,
            $color-text-alt,
            $color-text-alt 10%,
            rgba(245, 245, 245, 0)
          );
        }
      }

      &__monthText:not(.-hidden) + .Calendar__yearText {
        margin-left: spacing(0.75);
      }

      &__header {
        padding: spacing(1.875) spacing(2.5);
      }

      &__section,
      &__weekDays {
        padding: 0 spacing(2.5);
      }

      &__section {
        &.-hiddenNext,
        &.-hiddenPrevious {
          opacity: 0;
        }
      }

      &__weekDay {
        color: $color-text-base;
        font-size: 14px;
      }

      &__monthYear {
        button {
          color: $color-text-base;
        }

        & > * {
          font-size: 14px;
          color: $color-text-base;
          border-radius: spacing(0.5) !important;
          border: 1px solid transparent;
          background: none;

          &:hover {
            border-color: $primary;
          }
        }
      }

      &__footer {
        border-top: 1px solid $gray;
        padding: spacing(1.25);
        background: $background;
        z-index: 1;
        row-gap: spacing(1.5);
        @include flex-column;
        @include icon(spacing(2.5));
        @include iconColor($primary, false, true);

        &-text {
          margin: spacing(0.375) 0;
          white-space: nowrap;
          font-size: 14px;
        }

        .text-all-dates {
          margin-left: spacing(1.5);
          margin-top: spacing(0.25);
          font-size: 14px;
        }
      }

      &__buttons {
        .button {
          @include spaced-items(2.5);
        }
      }

      &__day {
        &__inner {
          $size: spacing(3.75);

          position: relative;
          border-radius: $border-radius !important;
          color: $color-text-base;
          font-size: 14px !important;
          height: $size;
          min-height: $size;
          max-width: $size !important;
          min-width: $size !important;
          margin: spacing(0.25);
          transition: none !important;
        }

        &.-today {
          .Calendar__day__inner {
            color: $primary !important;
            font-weight: 500 !important;

            &:after {
              content: none !important;
            }
          }
        }

        &.-blank {
          @include fillBetweenMargins($background, -1);
        }

        &.-selectedBetween {
          @include removeFilling();
          @include fillBetweenMargins($alt);

          .Calendar__day__inner {
            border: none !important;
            position: relative;
            color: $color-text-base !important;
            background: $alt !important;
          }
        }

        &.-hoveredBetween {
          @include fillBetweenMargins($alt);
          @include removeFilling();

          .Calendar__day__inner {
            background: $alt !important;
            border: none !important;
            color: $color-text-base !important;
            position: relative;
          }
        }

        &.-hoveredStart {
          @include fillBetweenMargins($alt !important, -4);

          .Calendar__day__inner:before {
            left: 0 !important;
          }
        }

        &.-hoveredEnd {
          @include fillBetweenMargins($alt !important, -4);

          .Calendar__day__inner:before {
            right: 0 !important;
          }
        }

        &.-disabled {
          pointer-events: none;

          .Calendar__day__inner {
            color: rgba($color-text-base, 0.5) !important;
          }
        }

        &:hover {
          .Calendar__day__inner {
            background-color: $primary !important;
            color: $background !important;
          }
        }

        &.-selectedStart,
        &.-selectedEnd,
        &.-selected {
          .Calendar__day__inner {
            border: 1px solid !important;
            border-color: $primary !important;
            color: $color-text-alt !important;
            background: $primary !important;
          }
        }
      }

      &__monthArrowWrapper {
        border-radius: spacing(0.5);
        border: 1px solid transparent;
        @include square(spacing(3.75));
        @include flex-center;
        @include iconColor($primary, false, true);

        &.-left {
          transform: rotate(-90deg);
        }

        &.-right {
          transform: rotate(90deg);
        }

        &.-left {
          transform: rotate(-90deg);
        }

        &.-right {
          transform: rotate(90deg);
        }

        &:hover {
          border-color: $primary;
        }
      }

      &__yearSelectorItem,
      &__monthSelectorItem {
        align-self: flex-start;
        background: none !important;

        &.-active {
          button {
            background: $primary;
          }
        }
      }

      &__yearSelectorText,
      &__monthSelectorItemText {
        color: $color-text-base;
        border-radius: $border-radius;
        padding-left: spacing();
        padding-right: spacing();

        &:not(.-active):not(:disabled):hover {
          border-color: $primary;
        }
      }

      &__yearSelectorWrapper::after,
      &__yearSelectorWrapper::before {
        pointer-events: none;
      }
    }
  }
}
