@import 'styles/mixins';
@import 'styles/colors';
@import 'styles/variables';

.header {
  $h: &;

  color: $color-text-base;
  max-width: $container-width;
  margin: 0 auto;
  width: 100%;
  padding: spacing(2) spacing(2.5);

  &__content {
    width: 100%;
  }

  &-wrapper {
    box-shadow: 0 spacing(0.5) spacing(0.5) rgba($black, 0.04);
    background: $color-text-alt;
  }

  &__inner {
    .svg-icon {
      margin-left: spacing();
    }
  }

  &__button {
    @include spaced-items(5);
  }

  &__search {
    margin-right: spacing(6);
    cursor: pointer;

    svg * {
      transition: all 300ms ease;
    }

    &:hover {
      @include iconColor($primary, false, true);
    }
  }

  &__avatar {
    background: $alt-light;
    overflow: hidden;
    @include square(spacing(8), true, true);
    @include icon(spacing(4));
    @include flex-center;

    img {
      transform: scale(0.5);
    }

    &-wrapper {
      gap: spacing(2);
    }
  }

  &__logged {
    gap: spacing(4);
  }

  &__logout {
    transition: all 300ms ease;
    @include iconColor($alt-dark, false, true);

    &:hover {
      transform: scale(1.1);
      @include iconColor($primary, false, true);
    }
  }

  @include tablet-xl {
    &__button {
      display: none;
    }

    &__logo {
      @include pos($pos: relative, $z: 2);
    }
  }

  @include mobile {
    &__logo {
      @include iconSize(spacing(8));
    }
  }
}
