@import 'styles/mixins';
@import 'styles/colors';

.text {
  &.uppercase {
    text-transform: uppercase;
  }

  &.center {
    text-align: center;
  }

  &.right {
    text-align: right;
  }

  &.crossed {
    text-decoration: line-through;
  }

  &.underline {
    text-decoration: underline;
  }

  &-overflow {
    position: relative;

    &.collapsible {
      cursor: pointer;
    }

    &__content {
      line-height: 25px;
    }

    &__inner {
      transition: height 300ms;
      overflow: hidden;
    }

    .more {
      color: $primary;
      margin-top: spacing(0.5);
    }
  }

  &-with-subtext {
    &__text {
      margin-bottom: spacing();
    }
  }
}

.Cursor {
  font-size: 40px;
}

.heading--spacing {
  margin-bottom: spacing(5);
}
