@import 'styles/mixins';
@import 'styles/colors';

.avatar {
  $a: &;
  $circle-size: spacing(15.5);
  $offset: spacing(3.75);

  position: relative;
  width: 100%;

  &.shadow {
    filter: drop-shadow(0 0 spacing(1.25) rgba($black, 0.07));
  }

  &.top {
    padding-top: $offset;

    #{$a} {
      &__block {
        @include pos($t: 0, $l: spacing(4.5));
      }

      &__content {
        padding-top: $circle-size;
      }
    }
  }

  &.left {
    padding-left: $offset;

    #{$a} {
      &__block {
        @include pos($t: spacing(4.5), $l: 0);
      }

      &__content {
        padding-left: $circle-size - spacing();
      }
    }
  }

  &__content {
    background-color: $color-text-alt;
    padding: spacing(4.5);
    border-radius: spacing(3.75);
    height: 100%;
  }

  &__block {
    background-color: $color-text-alt;
    @include square($circle-size, true, true);
    @include flex-center;
  }

  &__image {
    background-color: $alt;
    overflow: hidden;
    @include square(spacing(11.25), true, true);
    @include flex-center;
    @include iconColor($primary, false, true);

    .svg-icon {
      @include iconSize(spacing(6.25));
    }

    img {
      transform: scale(0.15);
    }
  }

  &__text {
    margin-bottom: spacing(1.75);
  }

  &__subtext {
    line-height: 26px !important;
  }

  &__number {
    @include pos($t: spacing(3.25) + $offset, $r: spacing(2.5));
    color: $primary;
  }

  @include mobile {
    &.left {
      #{$a} {
        &__content {
          padding-left: $circle-size - spacing(3);
          padding-right: spacing(3.5);
        }
      }
    }
  }

  @include mobile-sm {
    &__content {
      padding: spacing(2.75);
    }

    &.left {
      padding-left: 0;

      #{$a} {
        &__content {
          padding: spacing(2.75) !important;
        }

        &__block {
          display: none;
        }
      }
    }
  }
}
