@import 'styles/mixins';
@import 'styles/colors';

.tooltip {
  &__container {
    background-color: $black !important;
    
    &.MuiTooltip-tooltip {
      position: relative;
      padding: 5px 8px;
      border-radius: 3px;
      color: $color-text-alt;
      font-size: 12px;
      font-weight: 400;
      font-family: inherit;
      letter-spacing: 0;
      line-height: 1.25;
      cursor: default !important;
      @include text-wrapping;
    }
  }

  &__icon {
    @include icon(spacing(1.5), $color-text-alt);
    display: inline-flex;
  }
}
