@import 'styles/colors';
@import 'styles/mixins';

.item-box {
  margin: spacing(0.5) spacing() spacing(0.5) 0;
  background: $alt;
  border-radius: spacing(2);
  padding: spacing(0.625) spacing(1.25);
  display: flex;
  align-items: center;
  max-width: 100%;
  color: $color-text-base;
  @include text-wrapping;

  &--clickable {
    &,
    > * {
      cursor: pointer !important;
    }
  }

  &--active {
    background-color: $primary;
    border-color: $primary;
    color: $color-text-base !important;
  }

  &--invalid {
    border-color: $error !important;
  }

  &--disabled {
    background-color: $gray !important;
    color: $color-text-base !important;
  }

  &__text {
    font-size: 16px !important;
    padding-bottom: spacing(0.5);
  }

  &:not(.item-box--active):hover {
    color: $primary;
    box-shadow: 0 0 spacing(1.5) 0 rgba($primary, 0.1);
  }

  &__icon {
    margin-right: spacing();
    min-width: spacing(2.5);
    @include iconSize(spacing(2.5) !important);
    @include iconColor($alt-dark !important, false, true);
  }

  &__remover {
    cursor: pointer;
    margin-left: spacing() !important;
    min-width: spacing(2);
    transform: none !important;
    @include flex-center;
    @include iconSize(spacing(2) !important);
    @include iconColor($alt-dark !important, false, true);

    &:hover {
      @include iconColor($primary !important, false, true);
    }
  }
}
