@import 'styles/mixins';
@import 'styles/colors';

.filters {
  min-width: spacing(33.25);
  gap: spacing(2.5);
  @include flex-column;
}

.filter {
  padding: spacing(2.5);

  &__name {
    margin-bottom: spacing(2.5);
  }

  .input-wrapper + .input-wrapper {
    margin-top: spacing(2.5);
  }
}
