@import 'styles/colors';
@import 'styles/mixins';

$count: 10;
$time: 3;
$preloader-size: 24;

@keyframes rotatePreloader {
  0% {
    transform: translateX(-50%) translateY(-50%) rotateZ(0deg);
  }
  100% {
    transform: translateX(-50%) translateY(-50%) rotateZ(-360deg);
  }
}

@for $i from 1 through $count {
  .preloader div:nth-child(#{$i}) {
    transform: rotateZ(((360 / $count) * ($i - 1)) + deg);
    animation: rotateCircle + $i $time + s infinite linear;
    z-index: $count - $i;
  }

  @keyframes rotateCircle#{$i} {
    #{percentage(((50 / $count) * ($i - 1)) / 100)} {
      opacity: 0;
    }
    #{percentage((((50 / $count) + 0.0001) * ($i - 1)) / 100)} {
      opacity: 1;
      transform: rotateZ((0 - ((360 / $count) * ($i - 2))) + deg);
    }
    #{percentage((((50 / $count) * ($i - 0)) + 2) / 100)} {
      transform: rotateZ((0 - ((360 / $count) * ($i - 1))) + deg);
    }
    #{percentage(((50 + ((50 / $count) * ($i - 0))) + 2) / 100)} {
      transform: rotateZ((0 - ((360 / $count) * ($i - 1))) + deg);
    }
    100% {
      transform: rotateZ((0 - ((360 / $count) * ($count - 1))) + deg);
      opacity: 1;
    }
  }
}

.preloader {
  animation: rotatePreloader $time + s infinite ease-in;

  &--absolute {
    @include absolute-center;
  }

  &--static {
    @include centered;
  }

  div {
    opacity: 0;
    @include pos();
    @include square(100%);

    &:before {
      content: '';
      transform: translateX(-50%);
      border-radius: 50% !important;
      background-color: $primary;
      @include pos($t: 0, $l: 50%);
      @include square(10%, true, true);
    }
  }
}

.overlay-preloader {
  @include absoluteFill();
  background-color: $color-text-alt;
  z-index: 100;
}
