@import 'styles/mixins';
@import 'styles/colors';

.map {
  position: relative;
  border-radius: spacing(5);
  overflow: hidden;
  @include size(100%, spacing(75));

  > div > ymaps,
  > div > ymaps > ymaps {
    height: 100% !important;
  }

  ymaps {
    &[class$='controls__toolbar'] {
      margin-top: spacing(3) !important;
    }

    &[class*='controls__control_toolbar'] {
      margin: 0 spacing(3) !important;
    }

    &[class$='controls__control'] {
      margin-left: spacing(1.75) !important;
    }

    &[class*='svg-icon'] {
      background-size: 0 0;
    }

    &[class*='copyright'] {
      display: none !important;
    }

    &[class*='ground-pane'] {
      filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
      -webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
    }
  }

  &-icon {
    cursor: pointer;
    width: fit-content;
  }
}
