@import 'styles/mixins';
@import 'styles/colors';

@mixin interactive() {
  &:not(.disabled):not(.fetching) {
    @content;
  }
}

@mixin styling($color) {
  /// Filled variant
  &.filled {
    border: 1px solid $color;
    background-color: $color;

    .text {
      color: $color-text-alt;
    }

    .preloader div::before {
      background-color: $color-text-alt !important;
    }
  }

  /// Outline variant
  &.outline {
    border: 1px solid $color;

    .text {
      color: $color;
    }

    .preloader div::before {
      background-color: $color !important;
    }
  }
}

.button {
  position: relative;
  border: none;
  outline: none;
  user-select: none;
  white-space: nowrap;
  border-radius: spacing(2.5);
  padding: spacing(3) spacing(6);
  @include flex-center(true);

  &,
  &:hover,
  &:active {
    transition: all 0.3s ease;
  }

  &.stretch {
    display: flex;
    width: 100%;
  }

  &:not(.disabled) {
    cursor: pointer;
  }

  &.disabled {
    pointer-events: none;
    opacity: 0.5;
    cursor: default;
  }

  &-text {
    text-align: center;
    transition: color 300ms;
    letter-spacing: 0.07em;
  }

  &-icon {
    @include iconSize(spacing(2));
  }

  .preloader {
    max-height: 60% !important;
    @include square((spacing(3.5) !important));
  }

  &.with-text {
    .button-icon {
      &--start {
        margin-right: spacing(2);
      }

      &--end {
        margin-left: spacing(2);
      }
    }
  }

  /// Theming

  &.base {
    @include styling($primary);

    @include interactive {
      &:hover {
        @include styling($primary-light);
      }

      &:active {
        @include styling($primary-dark);
      }
    }
  }

  &.transparent {
    border: 1px solid transparent;

    @include interactive {
      &:hover {
        @include styling($primary);
      }

      &:active {
        @include styling($primary-dark);
      }
    }
  }

  /// Sizes

  &.large {
    padding: spacing(3.25) spacing(8.75);
    border-radius: spacing(2.25);
  }

  &.small {
    padding: spacing(1.25) spacing(1.75);
    border-radius: spacing(1.25);
  }

  &.middle {
    padding: spacing(2.1875) spacing(2.5);
  }
}
