@import 'styles/mixins';
@import 'styles/colors';
@import 'styles/variables';

.fullScreen {
  background-color: $color-text-alt;
  border: 2px solid rgba($color-text-base, 0.2);
  transition: all 300ms ease;
  cursor: pointer;
  @include flex-center;
  @include square(spacing(5.75), true, true);
  @include pos($t: spacing(3), $r: spacing(3), $z: 1);
  @include icon(spacing(2.5), $color-text-base);

  &:hover {
    transform: scale(1.1);
  }
}

.slider {
  &__container {
    overflow: hidden;
    padding-bottom: spacing(2.25);
  }

  &__control {
    transform: rotate(90deg);

    path {
      stroke: $color-text-base;
    }

    &.next {
      transform: rotate(-90deg);
    }
  }

  .circle-icon {
    @include spaced-items(1.75);
  }

  &__numbers {
    letter-spacing: 0.09em;

    .total__divider {
      margin: 0 spacing(0.75);
    }
  }

  @include tablet {
    .circle-icon {
      &:hover {
        transform: none;
      }
    }
  }
}

.swiper {
  overflow: visible !important;
  @include flex-column(true);

  &__slide {
    position: relative;
    flex-shrink: 0;
    user-select: none;
  }

  &-wrapper {
    display: flex;
    margin-bottom: spacing(7.25);
  }

  &__controls,
  &-pagination {
    max-width: $container-width / 2 !important;
    margin: 0 auto;
    user-select: none;
  }

  &-pagination {
    display: flex;
    transform: translate3d(0, 0, 0) translate(-50%, spacing(8)) !important;
    @include pos($l: 50% !important, $b: 0 !important);

    &-bullet {
      margin: 0 !important;
      background: rgba($color-text-base, 0.2) !important;
      @include size(100% !important, spacing(0.25) !important);

      &-active {
        background: $primary !important;
      }
    }
  }

  &-vertical {
    .swiper__slide {
      height: spacing(26.25) !important;
    }
  }
}
